/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
     padding-bottom: 1em;
}

body{
    background-color: rgb(221,221,221);
    margin: 0;
    padding: 0;
}


div.container{
    max-width: 75em;
    margin:auto;
    background-color: rgb(245,245,245)
}

figure.lasagna img{
    height: 30em;
    object-fit: cover;
}

figure{
    display: grid;
    grid-template-columns: 75% 25%;
}

span.caption{
    display: grid;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
    grid-column-gap: em;
    align-items: start;

}




h1{
        background-color: rgb(239,142,52);
        color: rgb(250,250,250);
        font-size: 2em;
        padding: 0.5em 2rem 0em;
        font-family:  sutro, sans-serif;
        font-weight: bold;
}

h2{
    background-color: rgb(239,142,52);
    color: rgb(235,222,191);
    font-size: 1.5em;
    padding: 0.5em 2rem 0.5em;
    font: serif;
    font-family:  sutro, sans-serif;

}

h3{
    color: rgb(239,142,52);
    font-size: 1.35em;
    padding: 1em 0 0em;
    font: serif;
    font-family: sutro, sans-serif;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 3rem;
    border-top: 0.15em solid rgb(239,142,5);
    
    
}



figcaption{
    color: rgb(34,34,34);
    font-size: 1.15em;
    font-family: poppins, sans-serif;
    font-style: italic;
    padding: 1.5em 2rem 0.5em;
    line-height: 1.3em;
    
}

ul{ 
    margin: 0em 2.5rem 0em;
    line-height: 2em;
    font-family: poppins, sans-serif;
    font-size: 1.15em;
    margin-bottom: 1.75em;
}

ol{
    line-height: 1.5em;
    font-family: poppins, sans-serif;
    font-size: 1.15em;
    padding: 1.5em 2rem 0.5em;
    margin-left: 0.75em;
    margin-bottom: 1.5em;
    

}

li{
    font-family: poppins, sans-serif;
    margin-bottom: 1.25em;
}

p{
   background-color: rgb(239,142,52);
   align-items: center;
   color: rgb(238,238,238);
   font-family: poppins, sans-serif;
   padding: 1em;
   font-size: 1.15em;
   
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
