/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}
	
div.container {
        max-width: 40em;
        margin: 1em;
        padding: 1em;
}

section.personal-info ul li label {
	flex: 0em;
}

section.personal-info ul li {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"] {
	flex: 0;
	box-sizing: border-box;
}

section ul li [id="state"]{
	flex: 0;
	box-sizing: border-box;
	background: #fcfcfc;
	border: 1px solid #777;
}

section.personal-info li {
	padding: 1.5em 0 0 0;
}

section.order ul {
	display: flex;
	flex-wrap: wrap;
}



section.order ul li {
	flex: 1 0 18em;
	margin: 0;

}

section.method ul {
	display: flex;
	flex-wrap: wrap;
}

section.method ul li {
	flex: 1 0 18em;
}

ul {
	list-style-type: none;
	padding: 0;
}

section {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
}


textarea {
	box-sizing: border-box;
	display: block;
	width: 100%; 
	height: 6em;
	background: #fcfcfc;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: sans-serif;
	color: #777;
	}

button {
	background-color: #fcfcfc;
}

p { 
	margin-top: 0;
}

p ul {
	margin-top: 0.5em;
}

h3 {
	margin: 0;
}


@media only screen and (min-width: 40em) {

div.container {
    margin: auto;
  }

  section.personal-info ul li {
	flex-direction: row;
  }


  section.personal-info ul li input[type="text"],
  section ul li input[type="email"],
  section ul li input[type="tel"] {
	  flex:  2 0 10em;
	  box-sizing: border-box;
  }
  
  section ul li [id="state"]{
	  flex:  2 0 10em;
	  box-sizing: border-box;
	  background: #fcfcfc;
	  border: 1px solid #777;
  }
}